@model BO.Models.master_class
@{
    ViewBag.Title = "CountryMaster";
    Layout = "~/Views/Shared/_Layout_master.cshtml";
}

<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <div class="header-section">
                <!-- top_bg -->
                <div class="top_bg">

                    <div class="header_top">
                        <div class="top_right">
                            <ul>
                                <li><a href="#">help</a></li>|
                                <li><a href="#">Contact</a></li>|
                                <li><a href="#">Delivery information</a></li>
                            </ul>
                        </div>
                        <div class="top_left">
                            <h2><span></span> Call us : 032 2352 782</h2>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <!-- /top_bg -->
            </div>
            <div class="content">
                <div class="area">
                    <div class="col-md-6" style="margin-left:25%;">
                        <div class="forms">
                            <div class="form-grids widget-shadow">
                                <div class="form-title">
                                    <h4>Country Master</h4>
                                </div>
                                <div class="form-body">
                                    @using (Html.BeginForm("CountryMaster", "Home", FormMethod.Post))
                                    {
                                        <div class="form-group"> Country Name <input type="text" name="cou" id="cou" class="form-control"/></div>
                                        <div class="form-group"> Currency Pair <input type="text" name="cop" id="cop" class="form-control" /></div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    }
                                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        if (ViewData["result"] != "" && ViewData["result"] != null)
                        {
                            ViewData["result"] = null;
                            <script type="text/javascript" language="javascript">
                                alert("Country Inserted Successfully");
                            </script>
                        }
                       /*if(TempData["msg"]!=null)
                        {
                            @Html.Raw(TempData["Insert Success"])
                        }*/

                    }
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        
    </div>
    <input style="margin-left:50%;visibility:hidden;" type="text" id="txt_id" />
</div>



